vless://a6d05ce0-b7fe-4fd0-8ea5-97e700478e46@45.66.163.200:32723?encryption=none&packetEncoding=xudp#%F0%9F%87%AB%F0%9F%87%AE%20%D0%A4%D0%B8%D0%BD%D0%BB%D1%8F%D0%BD%D0%B4%D0%B8%D1%8F



unzip Throne-*-linux-amd64.zip
cd Throne*
chmod +x Throne
./Throne


# dependencies
/node_modules
/.pnp
.pnp.js

# testing
/coverage

# production
/build

# misc
.DS_Store
.env.local
.env.development.local
.env.test.local
.env.production.local

npm-debug.log*
yarn-debug.log*
yarn-error.log*
